apiVersion: v1
kind: ConfigMap
metadata:
  name: vault-example-config
  labels:
    app.kubernetes.io/name: vault-example
data:
  extraconfig-from-values.hcl: |-
    disable_mlock = true
    ui = true
    listener "tcp" {
      tls_disable = 1
      address = "[::]:8200"
      cluster_address = "[::]:8201"
    }
    storage "file" {
      path = "/vault/data"
    }
